<% include ./partials/head %>
<% include ./partials/header %>

<main>
	<form action="" method="post">
		<div>
			<label for="name">Brugernavn</label>
			<input type="text" name="name" id="name">
		</div>
		<div>
			<label for="email">Email</label>
			<input type="email" name="email" id="email">
		</div>
		<div>
			<label for="password">Adgangskode</label>
			<input type="password" name="password" id="password">
		</div>
		<button type="submit">Registrér</button>
	</form>
</main>

<% include ./partials/footer %>